# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/chapter1/.idea
/chapter1/cmake-build-debug
/chapter1/CMakeLists.txt
/chapter2/.idea
/chapter2/CMakeLists.txt
/chapter2/cmake-build-debug
/chapter3/.idea
/chapter3/cmake-build-debug
/chapter3/CMakeLists.txt
/chapter4/.idea
/chapter4/cmake-build-debug
/chapter4/CMakeLists.txt
/chapter5/.idea
/chapter5/cmake-build-debug
/chapter5/CMakeLists.txt
/chapter6/.idea
/chapter6/cmake-build-debug
/chapter6/CMakeLists.txt
/chapter7/.idea
/chapter7/cmake-build-debug
/chapter7/CMakeLists.txt
